@use '../../scss/' as *;

.item-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 2rem;
    margin-bottom: 5rem;
    width: 90%;

    @include tablet {
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    }
}