@use '../../scss/' as *;

.hero {
    background-image: url('../../assets/hero-background.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 20rem 0;
    width: 100%;
    position: relative;

    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        @include overlay();
    }

    &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100px;
        background-image: linear-gradient(to top, $body-bg, rgba($black, 0));
    }
}